// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden{
  display: none;
}

#list{
  ul {
    list-style: none;
    margin-left: 15px;
    padding-left: 0;
  }
  .closed,.opened{
    font-weight: bold;
    cursor: pointer;
  }
  
  li:before{
    content: '\2022';
    padding-right: 5px;
  }
  li.closed:before {
    content: "+";
  }
  li.opened:before {
    content: "-";
  }
}